<script>
export default {
  props: ["item", "selectedAnswer"],
  data() {
    return {
      select: 0, 
      selected:this.selectedAnswer
    };
  },
};
</script>

<template>
  <div class="text-left badgI">{{ item.label }}</div>
</template>

<style scoped>
.badgI {
  padding: 0.25em 0.4em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: grey;
  color: white;
  margin-top: 12px;
  text-align: left;
}</style>
