<script>
import data from "./data.json";
import Response from "./components/response.vue";
export default {
  components: {
    Response,
  },
  data() {
    return {
      count: 0,
      questions:data,
      selectedAnswer:true
    };
  },
  methods: {
    next() {
      console.log(data);
    },
  },
  mounted() {
    console.log("krkr")
  
  },
};
</script>

<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img
          class="w-75"
          :src="questions[0].image"
        />
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-between">
          <span class="badg">1-{{questions.length}}</span>
          <span>00:26 </span>
        </div>
        <hr />  
        <h4>{{questions[0].label}}</h4>
        <Response v-for="item in questions[0].answers" :item="item" :selectedAnswer="selectedAnswer">
        </Response>
        <div class="text-end mt-3">
          <button @click="next" class="btn btn-success">Next</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.badg {
  padding: 0.25em 0.4em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: blue;
  color: white;
}
</style>
